package ${package}.${moduleName}.service.impl;

import ${package}.${moduleName}.dao.${className}Mapper;
import ${package}.${moduleName}.service.I${className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service("${classname}Service")
public class ${className}ServiceImpl implements I${className}Service {
    @Autowired
    ${className}Mapper ${classname}Mapper;
}